.loginContainer {
  display: 'flex';
  flex-direction: column;
  font-family: 'Helvetica, Tahoma, san-serif';
  margin-top: 20px;
  border: 1px solid lightgray;
  padding: 2em;
  border-radius: 8px;
  background-color: white;
}

@media screen and (max-width: 300px) {
  .loginContainer {
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 250px;
  max-width: 350px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 10px 100px 10px;
}

#username,
#password {
  background-color: rgb(247, 245, 245);
  border-radius: 5px;
}

.h3 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  width: 100%;
}

.error {
  color: red;
  font-size: small;
  position: absolute;
  align-self: center;
}

button {
  margin: 1em;
  border: 1px solid #93a210;
  background: c72ffa;
  color: white;
  font-size: large;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #93a210;

  &:hover {
    background-color: #b9c07f;
  }
}