.loginContainer {
  display: 'flex';
  flex-direction: column;
  font-family: 'Helvetica, Tahoma, san-serif';
  margin-top: 20px;
  border: 1px solid lightgray;
  padding: 2em;
  border-radius: 8px;
  background-color: white;
}
